version: '2'
services:
    tsapp:
        container_name: tsapp
        build:
            context: .
            dockerfile: Dockerfile
        entrypoint: "/bin/sh"
        command: "./dev.sh"
        environment:
            - NODE_ENV=development
            - PORT=8080
            - LOG_LEVEL=debug
            - DATABASE_URL=postgres://dbuser:dbpass@tsappdb:5432/starterdb
        ports:
            - 8080:8080
        volumes:
            - .:/home/app
            - /home/app/node_modules
    tsappdb:
        image: postgres:9.6
        container_name: tsappdb
        ports:
            - 5432:5432
        environment:
            - POSTGRES_PASSWORD=secret
            - POSTGRES_USER=postgres
            - POSTGRES_DB=starterdb